
.digi-box {
    text-align: center;
    width: 100%;
}

.digi-box input {
    width: 100%;
}

.digi-text {
    font-size: 40px;
}

.digi-input input {
    border: none;
}

.digi-cell {
    width: 33%;
}

.digi-btn {
    width: 95%;
    height: 110px;
    margin: 3% 0;
    font-size: 65px;
}

.digi-field {
    font-size: 60px;
    color: #428bca;
    height: 70px;
}

div.alert-info {
}

