
img.gallery {
    width: 100%;
    height: 200px;
}

.thumbnail:hover, .video-block:hover {
    background-color: #fdf5ce;
}

.thumbnail-image {
    height: 100px;
}

.video-table {
    width: 100%;
}

.video-block {
    text-align:center;
    font-size:15px;
}

.video-block img {
    margin: 0 auto;
}

.video-pagination {
    font-size: 40px;
}

.video-pagination li {
    width: 100px !important;
    margin: 10px;
}

.video-button {
    height: 45px;
    font-size: 25px;
    margin: 5px;
}

.video-back {
    height: 35px;
    font-size: 15px;
}

.video-control {
    width: 100%;
}

.vjs-progress-holder {
    height: 30px !important;
}
.vjs-play-progress {
    height: 30px !important;
}

.vjs-default-skin.vjs-has-started .vjs-control-bar {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    bottom: -3.4em !important;
    background-color: rgba(7, 20, 30, 1) !important;
}