{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_USER') %}

        <div id="pad">
            {{ render(controller('DigiLoginBundle:Connect:pad', {'container': '#pad', 'route': 'home'})) }}
        </div>

    {% endif %}

{% endblock %}
