{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="text-center">
        <video
                id="player"
                class="video-js"
                controls="true"
                preload="auto"
                width="360"
                height="240"
                autoplay
                data-setup='{}'
        >
            <source src="{{ asset('video/' ~ link) }}" type='video/mp4'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>

    <br/>

    <a class="btn btn-primary video-back" href="{{ path('video_index', app.request.query.all) }}">{{ 'base.button.back'|trans }}</a>

{% endblock %}
